---
import { Image } from 'astro:assets';
import H1 from "../components/h1.astro";
import InfoLayout from "../layouts/InfoLayout.astro";
import ProjectList from "../components/ProjectList";
import kmileshowcover from "../assets/kmileshowcover.webp";
import n8ncover from "../assets/n8ncover.webp";
import ragcover from "../assets/ragcover.webp";
import weather_horoscopecover from "../assets/weather_horoscopecover.webp";
import metaversecover from "../assets/metaversecover.webp";
import eatbugscover from "../assets/eatbugscover.webp";
import Lingodrop from "../assets/Lingodrop.webp"



const projects = [
     {
          title: "邁爾斯的影響世界",
          description: "專注於 SEO、UI/UX 與數據分析，讓旅遊部落格年流量成長 66%。",
          image: kmileshowcover,
          link: "/projects/kmileshow",
          category: "網站經營"
     },
     {
          title: "n8n 自動化行銷報表",
          description: "運用 n8n 無程式碼自動化，串接多平台 API，快速產出行銷報表並優化工作流程。",
          image: n8ncover,
          link: "/projects/n8n",
          category: "網站經營"
     },
     {
          title: "部落格 RAG 系統",
          description: "結合 RAG 技術，實現部落格內容即時搜尋與智能問答，優化知識管理",
          image: ragcover,
          link: "/projects/rag",
          category: "網站經營"
     },
     {
          title: "天氣星晴 AI 生活助理",
          description: "打造 LINE Bot 一站式提供星座運勢、穿搭建議與天氣視覺化互動體驗。",
          image: weather_horoscopecover,
          link: "/projects/weather_horoscope",
          category: "程式開發"
     },
     {
          title: "LingoDrop｜個人化字典",
          description: "一滴一字，累積你的語言力。隨手收藏遇見的詞彙與句子。",
          image: Lingodrop,
          link: "/projects/Lingodrop",
          category: "程式開發"
     },
     {
          title: "元宇宙產品研究",
          description: "聚焦元宇宙平台 UGC 與跨國用戶研究，分析創作者行為、回饋與產品優化建議。",
          image: metaversecover,
          link: "/projects/metaverse",
          category: "學術/產品研究"
     },

     {
          title: "食用昆蟲：蟲蟲探險隊",
          description: "產品設計與數位行銷推廣昆蟲飲食，結合市場調研與健康理念，探索永續新可能。",
          image: eatbugscover,
          link: "/projects/eatbugs",
          category: "行銷/商業企劃"
     },

     ];
---

<InfoLayout>
  <div class="p-4 sm:pt-8 sm:px-12 pb-20 min-h-dvh">
    <H1> Projects </H1>
    {/* @ts-expect-error React component in Astro */}
    <ProjectList client:load projects={projects} />
  </div>
</InfoLayout>